/* Стили обнуления */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
/* //////////////////////////////////////////////////////////////////////*/

.link {
   color: salmon;
}
a.link__brown {
   color: slategrey;
}
.text__item {
   color: green;
}
p.paragraph {
   color: indigo;
}
.list__text {
   color: darksalmon;
}
.list__text ~ li {
   color: firebrick;
}
li > span {
   color: fuchsia;
}
p > mark {
   color: forestgreen;
}
.subtitle {
   color: deeppink;
}
li.list__text2 > p {
   color: darkturquoise;
}
.list__text2 + li {
   color: gold;
}
h2.subtitle + p {
   color: darkseagreen;
}
.list__text3 > p > span {
   color: plum;
}
.list__text3 + li > p > span {
   color: palegreen;
}
.list__text3 > p {
   color: peru;
}
.list__text3 ~ li {
   color: saddlebrown;
}
span.span {
   color: seagreen;
}
ol span {
   color: greenyellow;
}
ol ~ p {
   color: palevioletred;
}
.footer a {
   color: aqua;
}
h3 {
   color: aquamarine;
}
h3 + p {
   color: burlywood;
}
